<div class="container" *ngIf="tokenStorageService.isLoggedIn; else loggedOut">
  <div class="row">
    <div class="col-12" *ngIf="supplier"
         style="border: 2px solid; border-color: rgb(0, 38, 255); font-size: 20px;height: auto">

      <div class="submit-form">
        <div *ngIf="!submitted">
          <h2 class="justify-content-center m-3">Create a new Supplier</h2>
          <div class="form-group form-group-sm col-sm-8 m-5 ">
            <div class="row">
              <label for="name" class="col-sm-3 col-form-label">Supplier Name</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="name" [(ngModel)]="supplier.supplierName" name="supplierName"
                       required="true">
              </div>
            </div>
          </div>
          <div class="form-group form-group-sm col-sm-8 m-5">
            <div class="row">
              <label for="iban" class="col-sm-3 col-form-label">IBAN</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="iban" placeholder="Enter IBAN" [(ngModel)]="supplier.IBAN"
                       name="iban" required="true">
              </div>
            </div>
          </div>
          <div class="form-group form-group-sm col-sm-8 m-5">
            <div class="row">
              <label for="bankcode" class="col-sm-3 col-form-label">Bank Code</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="bankcode" placeholder="Enter Bank Code"
                       [(ngModel)]="supplier.bankCode" name="bankcode" required="true">
              </div>
            </div>
          </div>

          <div class="form-group form-group-sm col-sm-8 m-5">
            <div class="row">
              <label for="fiscalcode" class="col-sm-3 col-form-label">Fiscal Code</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="fiscalcode" placeholder="Fiscal Code" [(ngModel)]="supplier.fiscalCode" name="fiscalcode" required="true">
              </div>
            </div>
          </div>
          <div class="form-group form-group-sm col-sm-8 m-5">
            <div class="row">
              <label for="details" class="col-sm-3 col-form-label">Additional</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="details" placeholder="Aditional details" [(ngModel)]="supplier.details" name="details">
              </div>
            </div>
          </div>
          <div class="form-group form-group-sm col-sm-8 m-5">
            <div class="row">
              <label for="address" class="col-sm-3 col-form-label">Address</label>
              <div class="col-sm-9">
                <ng-select class="custom" id="address"
                           [searchable]="true"
                           [multiple]="false"
                           [(ngModel)]=selectedAddress>
                  <ng-option *ngFor="let address of addresses" [value]="address">{{address.city}} {{address.raion}} {{address.street}} {{address.houseNumber}}<span *ngIf="supplier?.address?.entranceNo">/{{supplier?.address?.entranceNo}}</span></ng-option>
                </ng-select>

              </div>
            </div>
          </div>
          <div class="col-4">
          <button type="cancel" class="btn btn-danger btn-lg m-5" routerLink="/address/add">Add New Address</button>
          </div>

          <button type="submit" class="btn btn-success btn-lg m-5" (click)="saveSupplier()">Submit</button>
          <button type="cancel" class="btn btn-danger btn-lg m-5" routerLink="/suppliers">Cancel</button>
        </div>

        <div *ngIf="submitted">
          <h4>Supplier was submitted successfully!</h4>
          <button type="submit" class="btn btn-success btn-lg m-5 pt-5" (click)="newSupplier()">Add new</button>
          <button type="cancel" class="btn btn-danger btn-lg m-5" routerLink="/suppliers">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>
