<!--<div class="container" *ngIf="; else loggedOut">-->
<div class="container" >
  <div class="col-12" *ngIf="supplier"
       style="border: 2px solid; border-color: rgb(0, 38, 255); font-size: 20px;height: auto">
    <h2 class="justify-content-center m-3">Address attributes to Edit</h2>
    <form (ngSubmit)="updateSupplier(playlistForm)" #playlistForm="ngForm">
      <div class="form-group form-group-sm col-sm-6 m-5 ">
        <div class="row">
          <label for="supplierName" class="col-sm-3 col-form-label">Supplier Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="supplierName" [(ngModel)]="supplier.supplierName" name="supplierName">
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-6 m-5">
        <div class="row">
          <label for="iban" class="col-sm-3 col-form-label">IBAN</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="iban" placeholder="Enter IBAN" [(ngModel)]="supplier.IBAN"
                   name="IBAN">
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-6 m-5">
        <div class="row">
          <label for="fiscalcode" class="col-sm-3 col-form-label">Fiscal Code</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="fiscalcode" placeholder="Enter Fiscal Code"
                   [(ngModel)]="supplier.fiscalCode" name="fiscalCode">
          </div>
        </div>
      </div>

      <div class="form-group form-group-sm col-sm-6 m-5">
        <div class="row">
          <label for="bankcode" class="col-sm-3 col-form-label">Bank Code</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="bankcode" placeholder="Enter Bank Code" [(ngModel)]="supplier.bankCode" name="bankCode">
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-6 m-5">
        <div class="row">
          <label for="details" class="col-sm-3 col-form-label">Additional Info</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="details" placeholder="Enter Addtional Information" [(ngModel)]="supplier.details" name="details">
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-6 m-5">
        <div class="row">
          <label for="address" class="col-sm-3 col-form-label">Address</label>
          <div class="col-sm-9">
            <ng-select class="custom" id="address" [items]="addresses"
                       bindLabel="bindName"
                       placeholder=""
                       appendTo="body"
                       [searchable]="true"
                       [multiple]="false"
                       [(ngModel)]=selectedAddress
                       [ngModelOptions]="{standalone: true}">
            </ng-select>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-success m-5 btn-lg" (click)="updateSupplier(playlistForm)">Submit</button>
      <button type="cancel" class="btn btn-danger m-5  btn-lg" routerLink="/suppliers">Cancel</button>

    </form>
  </div>
</div>


<!--</div>-->
<div *ngIf="!supplier">
  <br/>
  <p>Cannot access this Supplier...</p>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>




