  <a href="/" title=""><img src="../../../assets/img/home64.png" class="img-responsive float-center figure-img img-fluid p-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Home" alt="Home"></a>
  <a href="#" title=""><img src="../../../assets/img/tenant.png" class="img-responsive float-center figure-img img-fluid p-3"></a>
  <a href="#" title=""><img src="../../../assets/img/apartment.png" class="img-responsive float-center figure-img img-fluid p-3"></a>
  <a href="#" title=""><img src="../../../assets/img/invoice.png" class="img-responsive float-center figure-img img-fluid p-3"></a>
  <a href="#" title=""><img src="../../../assets/img/skyscraper.png" class="img-responsive float-center figure-img img-fluid p-3"></a>
  <a href="#" title=""><img src="../../../assets/img/supplier.png" class="img-responsive float-center figure-img img-fluid p-3"></a>
  <a href="/address" title=""><img src="../../../assets/img/address.png" class="img-responsive float-center figure-img img-fluid p-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Address"></a>
  <a href="#" title=""><img src="../../../assets/img/smart-meter.png" class="img-responsive float-center figure-img img-fluid p-3"></a>
  <a href="#" title=""><img src="../../../assets/img/report.png" class="img-responsive float-center figure-img img-fluid p-3"></a>

