<!--<div class="container" *ngIf="; else loggedOut">-->
<div class="container" >
  <div class="col-12" *ngIf="meterdata"
       style="border: 2px solid; border-color: rgb(0, 38, 255); font-size: 20px;height: auto">
    <h2 class="justify-content-center m-3">MeterData attributes to Edit</h2>
    <form (ngSubmit)="updateMeterData(playlistForm)" #playlistForm="ngForm">

      <div class="form-group form-group-sm col-sm-8 m-5">
        <div class="row">
          <label for="meter" class="col-sm-3 col-form-label">Serial</label>
          <div class="col-sm-9">
            <input type="double" min="1" class="form-control" id="meter"
                   [(ngModel)]="meterdata.meter.serial" name="meter.serial" readonly="true">
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-8 m-5">
        <div class="row">
          <label for="previous" class="col-sm-3 col-form-label">Previous value</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="previous"
                   [(ngModel)]="meterdata.previousValue" name="initialValue" readonly="true" >
          </div>
        </div>
      </div>

      <div class="form-group form-group-sm col-sm-8 m-5">
        <div class="row">
          <label for="current" class="col-sm-3 col-form-label">Current Value</label>
          <div class="col-sm-9">
            <input type="number" min="1" class="form-control" id="current" placeholder="Enter meter current value"
                   [(ngModel)]="meterdata.currentValue" name="currentValue" required="true">
          </div>
        </div>

        <div class="alert-danger" *ngIf="meterdata.currentValue">
          <div *ngIf="meterdata.currentValue<=meterdata.previousValue">
            Current value must be bigger them previous
          </div>
        </div>
      </div>

      <div class="form-group form-group-sm col-sm-8 m-5">
        <div class="row">
          <label for="status" class="col-sm-3 col-form-label">Status</label>
          <div class="col-sm-9">
            <input type="double" min="1" class="form-control" id="status"
                   [(ngModel)]="meterdata.status.name" name="status.name" readonly="true">
          </div>
        </div>
      </div>



      <button type="submit" class="btn btn-success m-5 btn-lg" (click)="updateMeterData(playlistForm)">Submit</button>
      <button type="cancel" class="btn btn-danger m-5  btn-lg" routerLink="/meterdata">Cancel</button>

    </form>
  </div>
</div>


<!--</div>-->
<div *ngIf="!meterdata">
  <br/>
  <p>Cannot access this Meter...</p>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>




