<!--<div class="container" *ngIf="; else loggedOut">-->
<div class="container" >
  <div class="col-12" *ngIf="flat"
       style="border: 2px solid; border-color: rgb(0, 38, 255); font-size: 20px;height: auto">
    <h2 class="justify-content-center m-3">Flat attributes to Edit</h2>
    <form (ngSubmit)="updateFlat(playlistForm)" #playlistForm="ngForm">

      <div class="form-group form-group-sm col-sm-6 m-5">
        <div class="row">
          <label for="flat" class="col-sm-3 col-form-label">Flat number</label>
          <div class="col-sm-9">
            <input type="number" min="0" class="form-control" id="flat" placeholder="Enter flat number" [(ngModel)]="flat.flatNumber"
                   name="flatNumber">
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-6 m-5">
        <div class="row">
          <label for="floor" class="col-sm-3 col-form-label">Floor number</label>
          <div class="col-sm-9">
            <input type="number" min="0" class="form-control" id="floor" placeholder="Enter floor number" [(ngModel)]="flat.floor"
                   name="floor">
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-8 m-5">
        <div class="row">
          <label for="ladder" class="col-sm-3 col-form-label">Ladder</label>
          <div class="col-sm-9">
            <input type="number" min="1" class="form-control" id="ladder" placeholder="Enter ladder number"
                   [(ngModel)]="flat.ladder" name="ladder" >
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-8 m-5">
        <div class="row">
          <label for="wallet" class="col-sm-3 col-form-label">Wallet</label>
          <div class="col-sm-9">
            <input type="double" min="1" class="form-control" id="wallet"
                   [(ngModel)]="flat.wallet" name="wallet" readonly="true">
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-8 m-5">
        <div class="row">
          <label for="nrperson" class="col-sm-3 col-form-label">Nr of persons</label>
          <div class="col-sm-9">
            <input type="number" min="1" class="form-control" id="nrperson"
                   [(ngModel)]="flat.numberOfPerson" name="numberOfPerson" >
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-6 m-5">
        <div class="row">
          <label for="person" class="col-sm-3 col-form-label">Person</label>
          <div class="col-sm-9">
            <ng-select id="person" [items]="persons"
                       bindLabel="bindName"
                       placeholder="Select Person"
                       appendTo="body"
                       [searchable]="true"
                       [multiple]="true"
                       [(ngModel)]=selectedPerson
                       [ngModelOptions]="{standalone: true}">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-6 m-5">
        <div class="row">
          <label for="building" class="col-sm-3 col-form-label">Building</label>
          <div class="col-sm-9">
            <ng-select id="building" [items]="buildings"
                       bindLabel="bindName"
                       placeholder="Select Building"
                       appendTo="body"
                       [searchable]="true"
                       [multiple]="false"
                       [(ngModel)]=selectedBuilding
                       [ngModelOptions]="{standalone: true}">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-6 m-5">
        <div class="row">
          <label for="meter" class="col-sm-3 col-form-label">Meters</label>
          <div class="col-sm-9">
            <ng-select id="meter" [items]="meters"
                       bindLabel="bindName"
                       placeholder="Select Building"
                       appendTo="body"
                       [searchable]="true"
                       [multiple]="true"
                       [(ngModel)]=selectedMeters
                       [ngModelOptions]="{standalone: true}">
            </ng-select>
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-success m-5 btn-lg" (click)="updateFlat(playlistForm)">Submit</button>
      <button type="cancel" class="btn btn-danger m-5  btn-lg" routerLink="/flats">Cancel</button>

    </form>
  </div>
</div>


<!--</div>-->
<div *ngIf="!flat">
  <br/>
  <p>Cannot access this Flat...</p>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>




