<!--<div class="container" *ngIf="; else loggedOut">-->
<div class="container" >
  <div class="col-12" *ngIf="invoice"
       style="border: 2px solid; border-color: rgb(0, 38, 255); font-size: 20px;height: auto">
    <h2 class="justify-content-center m-3">Meter attributes to Edit</h2>
    <form (ngSubmit)="updateInvoice(playlistForm)" #playlistForm="ngForm">

      <div class="form-group form-group-sm col-sm-6 m-5">
        <div class="row">
          <label for="number" class="col-sm-3 col-form-label">Invoice number</label>
          <div class="col-sm-9">
            <input type="text" min="0" class="form-control" id="number" [(ngModel)]="invoice.invoiceNumber"
                   name="invoiceNumber" readonly="true">
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-6 m-5">
        <div class="row">
          <label for="supplier" class="col-sm-3 col-form-label">Supplier</label>
          <div class="col-sm-9">
            <ng-select id="supplier" [items]="suppliers"
                       bindLabel="bindName"
                       placeholder="Select Supplier"
                       appendTo="body"
                       [searchable]="true"
                       [multiple]="false"
                       [(ngModel)]=selectedSupplier
                       [ngModelOptions]="{standalone: true}">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-6 m-5">
        <div class="row">
          <label for="meter" class="col-sm-3 col-form-label">Meter</label>
          <div class="col-sm-9">
            <ng-select id="meter" [items]="meters"
                       bindLabel="bindName"
                       placeholder="Select Meter"
                       appendTo="body"
                       [searchable]="true"
                       [multiple]="false"
                       [(ngModel)]=selectedMeter
                       [ngModelOptions]="{standalone: true}">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-8 m-5">
        <div class="row">
          <label for="current" class="col-sm-3 col-form-label">Current Value</label>
          <div class="col-sm-9">
            <input type="double" min="1" class="form-control" id="current" placeholder="Enter meter current value"
                   [(ngModel)]="invoice.meterDataCurrent" name="meterDataCurrent">
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-8 m-5">
        <div class="row">
          <label for="previous" class="col-sm-3 col-form-label">Previous Value</label>
          <div class="col-sm-9">
            <input type="double" min="1" class="form-control" id="previous" placeholder="Enter meter previous value"
                   [(ngModel)]="invoice.meterDataPrevious" name="meterDataPrevious">
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-8 m-5">
        <div class="row">
          <label for="sum" class="col-sm-3 col-form-label">Total Sum</label>
          <div class="col-sm-9">
            <input type="double" min="1" class="form-control" id="sum" placeholder="Enter invoice total sum"
                   [(ngModel)]="invoice.invoiceSum" name="invoiceSum" required="true">
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-8 m-5">
        <div class="row">
          <label for="till" class="col-sm-3 col-form-label">Pay till</label>
          <div class="col-sm-9">
            <input type="date" min="1" class="form-control" id="till" placeholder="Last date for payment"
                   [(ngModel)]="invoice.payTill" name="payTill" required="true">
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-8 m-5">
        <div class="row">
          <label for="emitted" class="col-sm-3 col-form-label">Emitted day</label>
          <div class="col-sm-9">
            <input type="date" min="1" class="form-control" id="emitted" placeholder="Date for generation"
                   [(ngModel)]="invoice.emittedDate" name="emittedDate">
          </div>
        </div>
      </div>
      <div class="form-group form-group-sm col-sm-8 m-5">
        <div class="row">
          <label for="place" class="col-sm-3 col-form-label">Placement</label>
          <div class="col-sm-9">
            <input type="double" min="1" class="form-control" id="place"
                   [(ngModel)]="invoice.typeOfMeterAndInvoice.name" name="typeOfMeterAndInvoice">
          </div>
        </div>
      </div>


      <button type="submit" class="btn btn-success m-5 btn-lg" (click)="updateInvoice(playlistForm)">Submit</button>
      <button type="cancel" class="btn btn-danger m-5  btn-lg" routerLink="/invoices">Cancel</button>

    </form>
  </div>
</div>


<!--</div>-->
<div *ngIf="!invoice">
  <br/>
  <p>Cannot access this Meter...</p>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>




