<div class="container">

<!--  <app-header></app-header>-->

<!--  <div class="row" *ngIf="address" style="border: 2px solid; border-color: rgb(0, 38, 255); font-size: 20px;height: auto">-->
<!--    <div class="col-1" style="border: 2px solid; border-color: rgb(0, 38, 255);">-->
<!--      <app-leftmenu></app-leftmenu>-->
<!--    </div>-->

    <div class="col-12" *ngIf="address" style="border: 2px solid; border-color: rgb(0, 38, 255); font-size: 20px;height: auto">
      <h4>Address attributes to Edit</h4>
      <form (ngSubmit)="updateAddress(playlistForm)" #playlistForm="ngForm">
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city"  [(ngModel)]="address.city" name="city"   required>
        </div>
        <div class="form-group">
          <label for="raion">Raion</label>
          <input type="text" class="form-control" id="raion"  placeholder="Enter raion" [(ngModel)]="address.raion" name="raion">

        </div>
        <div class="form-group">
          <label for="street">Street</label>
          <input type="text" class="form-control" id="street"  placeholder="Enter street" [(ngModel)]="address.street" name="street">
        </div>
        <div class="form-group">
          <label for="house">Phone number</label>
          <input type="text" class="form-control" id="house" placeholder="Enter house number" [(ngModel)]="address.houseNumber" name="houseNumber">
        </div>
        <button type="submit" class="btn btn-primary m-3" (click)="updateAddress(playlistForm)">Submit</button>
        <button type="cancel" class="btn btn-danger m-3" routerLink="/address">Cancel</button>

      </form>

    </div>
  </div>
<!--  <app-footer></app-footer>-->

<!--  <a href="${pageContext.request.contextPath}/">Back to main page</a>-->

<!--</div>-->
<div *ngIf="!address">
  <br />
  <p>Cannot access this Address...</p>
</div>




