<!--<div class="container-fluid" *ngIf="isLoggedIn; else loggedOut">-->
<div class="container-fluid">
  <!--    <app-header></app-header>-->
  <!--    <app-root></app-root>-->

  <div class="row">
    <h2 class="pt-3">List of available Persons</h2>
    <div class="col-12" style="border: 2px solid; border-color: rgb(0, 38, 255);font-size: large">
      <div class="row">
        <div class="col-2">
          <a class="btn btn-light btn-lg m-3" routerLink="add"><img src="../../../assets/img/new1.png">Add New</a>
        </div>
        <div class="col-3">
          <form class="d-flex" action="list" method="get">
            <div class="dataTables_length bs-select" id="dtBasicExample_length">

              <div class="row">
                <div class="col-9">
                  Items per Page:
                </div>
                <div class="col-2">
                  <select (change)="handlePageSizeChange($event)">
                    <option *ngFor="let size of pageSizes" [ngValue]="size">
                      {{ size }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-5 pt-4">
          <form class="d-flex" action="list" method="get">
            <!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" #search>-->
            <input  type="text"  class="form-control" placeholder="Search word" [(ngModel)]="title" name="query"/>
            <button class="btn btn-success btn-lg text-center" type="button" (click)="retrievePersons()">Search</button>
            <a href="/person" class="btn btn-primary btn-lg text-center" role="button" aria-pressed="true">Clear</a>
          </form>
        </div>

      </div>
      <div>
        <table class="table table-bordered table-hover table-primary table-responsive table-responsive-lg">
          <thead class="thead-dark">
          <tr align="center" style="font-size: 20px">
            <th class="col-1">Username</th>
            <th class="col-1">First Name</th>
            <th class="col-1">Last Name</th>
            <th class="col-2">Email</th>
            <th class="col-1">Phone</th>
            <th class="col-1">Mobile</th>
            <th class="col-1">IDNP</th>
            <th class="col-2">Description</th>
            <th class="col-2" colspan=2>Quick Edit</th>
          </tr>
          </thead>


          <tr *ngFor="let person of persons|paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
                let i = index"
              align="center" style="font-size: 18px">
            <td>{{person.username}}</td>
            <td>{{person.name}}</td>
            <td>{{person.surname}}</td>
            <td>{{person.email}}</td>
            <td>{{person.phone}}</td>
            <td>{{person.mobile}}</td>
            <td>{{person.idnp}}</td>
            <td>{{person.description}}</td>
<!--            <td align="center"><a class="btn btn-lg" routerLink="{{person.personid}}"><img src="../../../assets/img/delete1.png">Delete</a></td>-->
            <td align="center"><a class="btn btn-lg" routerLink="{{person.personid}}"><img src="../../../assets/img/edit1.png">Edit</a></td>
          </tr>
        </table>

      </div>

    </div>
    <div class="col-md-12 paginationCss">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        [responsive]="true"
        (pageChange)="handlePageChange($event)"
        (pageBoundsCorrection)="handlePageChange($event)"
      ></pagination-controls>
    </div>
  </div>
</div>
<ng-template #loggedOut>
  Please login.
</ng-template>

